# All code is owned by the surf team
* @swimlane/surf @swimlane/integrations-qa

# All documentation is owned by tech-pubs

*.json @swimlane/tech-writers
*.md @swimlane/tech-writers
doc_images/* @swimlane/tech-writers
